name: linux-aarch64

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04-arm
    steps:
      - name: debug
        run: |
          echo `env | grep JAVA`

      - name: Adjust JRE
        run: |
          ./build/linux-aarch64-server-release/images/jdk/bin/jlink  --module-path ./build/linux-aarch64-server-release/images/jdk/jmods --add-modules java.base,java.desktop,java.logging,java.naming,java.transaction.xa,java.rmi,java.management,java.security.jgss,java.sql,jdk.crypto.ec,jdk.httpserver,java.compiler --output ./out/linux/ --no-header-files  --no-man-pages  --strip-debug  --compress=2
          rm -rf ./out/linux/bin

      - name: Upload artifact
        uses: actions/upload-artifact@master
        with:
          name: jdk_linux_aarch64
          path: ./out/linux
          retention-days: 1
          if-no-files-found: error
